fastapi
uvicorn[standard]
motor
pydantic
pydantic-settings
pymongo
python-jose[cryptography]
redis>=4.2.0
neo4j
nats-py
influxdb-client
paho-mqtt
python-multipart
bcrypt
boto3
httpx
PyYAML
aiohttp
numpy
scipy
lemon
watchfiles
typer
rich
networkx
phart
moss==1.7.3
